.sectionDefault {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .sectionDefault {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.sectionAbout {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .sectionAbout {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.sectionTitle {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
} 